<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::pg_head('Books')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="navbar:: menu"></div>
	<div>
		<h2>Manage Books</h2>
		<a th:href="@{/books/new}">Add New Book</a>
	</div>
	<div>
		<table class= "table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
			<tr>
				<th>Book ID</th>
				<th>Book Title</th>
				<th>Book Alias</th>
				<th>Book Image Name</th>
				<th>Genre</th>
				<th>Perspective</th>
				<th>Active</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="book: ${listBooks}">
				<td>[[${book.id}]]</td>
				<td>[[${book.name}]]</td>
				<td>[[${book.alias}]]</td>
				<td>[[${book.image}]]</td>
				<td>[[${book.genre}]]</td>
				<td>[[${book.perspective}]]</td>

				<td>
					<a th:if="${book.enabled==true}" class="fa-solid fa-circle-check fa-2x icon-green" th:href="@{'/books/' + ${book.id} + '/enabled/false'}"></a>
					<a th:if="${book.enabled==false}" class="fa-solid fa-circle-check fa-2x icon-dark" th:href="@{'/books/' + ${book.id} + '/enabled/true'}"></a>
				</td>
				<td> <a class="fa-solid fa-trash-can fa-2x" th:href="@{'/books/delete/' + ${book.id}}"></a>
				</td>
			</tbody>
		</table>
	</div>

	<div class="text-center">
		<p>Next Generation Books - Project By Yen Hoang Le</p>
	</div>
</div>

</body>
</html>