<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::pg_head('Perspective Form')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="navbar:: menu"></div>
	<div>
		<h2>Create New Perspective | Perspective Form</h2>
	</div>
	<form th:action="@{/perspectives/save}" method="post" style="max-width: 500px; margin: 0 auto"
		th:object="${perspective}" >
		<input type="hidden" th:field="*{id}" />
	<div class="border border-secondary rounded p-3">
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Perspective Type:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" th:field="*{name}" required/>
			</div>
		</div>	
						
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Perspective Alias:</label>
			<div class="col-sm-8">
			<input type="text" class="form-control" th:field="*{alias}" required/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Roles:</label>
			<div class="col-sm-8">
				<th:block th:each="genre: ${listGenres}"> 
				<input type="checkbox" th:field="*{genres}" 
					th:text="${genre.name}" th:value="${genre.id}"
					class="m-2"
					/>
					<br/>
				</th:block>
			</div>
		</div>								
		
		<div class="text-center">
			<input type="submit" value="Save" class="btn btn-primary m-3" />
			<input type="button" value="Cancel" class="btn btn-secondary" id="btnCancel"/>
		</div>
	</div>
	</form>


	<div class="text-center">
		<p>Next Generation Books - Project By Yen Hoang Le</p>
	</div>

</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#btnCancel").on("click", function() {
			window.location = "[[@{/perspectives}]]";
		});
	});
	
	function checkEmailUnique(form) {
		url = "[[@{/users/check_email}]]";
		userId= $("#id").val();
		userEmail = $("#email").val();
		csrfVal = $("input[name='_csrf']").val();
		params = {id: userId, email: userEmail, _csrf:csrfVal};
		$.post(url, params, function(response) {
			if(response == "OK") {
				form.submit();
			}
			alert("response: " + response);
		});
		return false;
	}
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>